* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

html,
body {
  overflow-x: hidden;

  @media screen and (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media screen and (max-width: 720px) {
    font-size: 87.5%;
  }
}
