.S__Pilares {
  width: 100vw;
  height: auto;
  background: #313131;
  padding-top: 2.5rem;
  padding-bottom: 5rem;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    > h1 {
      color: #f5f5f5;
      font-size: 3rem;
      font-weight: 800;
      line-height: 100%;
    }
  }

  main {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;

    .pilarContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      flex-wrap: wrap;

      img {
        width: 120px;
        height: auto;
        background: #f5f5f5;
        border: 5px solid white !important;
        border-radius: 50%;
        padding: 0.20rem;
      }

      span {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        color: #cc9933;
      }
    }
  }

  @media screen and (max-width: 480px) {
    main {
      flex-direction: column;
      gap: 3rem;
    }
  }
}
